# ------------------------------------
# ------- PLAYER CONFIGURATION -------
# ------------------------------------
PlayerName = Player
Lang = fr
PlayerSkin = Default
PlayerColor =  #FFFFFF    # Hexadécimal (Blanc par défaut)
DifficultyLevel = 1 # 0=Easy, 1=Normal, 2=Hard, 3=Nightmare

# ------------------------------------
# ------ GRAPHIC CONFIGURATION -------
# ------------------------------------
FullScreen = false

# Current game resolution
ScreenWidth = 1920
ScreenHeight = 1080
RefreshRate = 60

# --- Windowed Mode
WindowPosX = 100
WindowPosY = 100
WindowedWidth = 1280
WindowedHeight = 720

# --- PERFORMANCE ---
VSync = false
MaxFps = 120.000000 # FPS cap if VSync is disabled

# --- GAMEPLAY & COMFORT ---
Fov = 80.000000 # Horizontal Field of View
Brightness = 1.000000 # 1.0 = normal, < 1.0 = dark, > 1.0 = bright
ShowHud = true
ShowFpsCounter = true
CrosshairType = 1 # 0=None, 1=Default, 2=Dot, 3=Dynamic

# --- GRAPHICS ---
QualityPreset = 3 # 0=Low, 1=Med, 2=High, 3=Ultra
TextureQuality = 2 # 0=Low, 1=Med, 2=High
ShadowQuality = true
AntiAliasing = true
ViewDistance = 500.000000 # Render distance in meters

# ------------------------------------
# -------- MOUSE CONFIGURATION -------
# ------------------------------------
MouseSensitivity = 1.000000
MouseAdsMultiplier = 0.800000 # Sensitivity multiplier when aiming
MouseInvertY = false # Invert vertical axis
MouseSmoothing = false

# ------------------------------------
# ----- CONTROLS CONFIGURATION -------
# ------------------------------------
# --- System Keys
OpenMenu = 256 $ Escape # Opens game menu, allows cursor control, pauses single-player
OpenMenu2 = 
ToggleHud = 290 $ F1 # Toggles HUD visibility
ToggleHud2 = 
Screenshot = 291 $ F2 # Takes screenshots
Screenshot2 = 
ToggleDebug = 292 $ F3 # Toggles the debug menu
ToggleDebug2 = 
TogglePerspective = 294 $ F5 # Cycles camera views (Front/Back/Third Person)
TogglePerspective2 = 
ToggleFullscreen = 300 $ F11 # Toggles fullscreen mode
ToggleFullscreen2 = 

# --- Movement
MoveForward = 87 $ w
MoveForward2 = 
MoveBackward = 83 $ s
MoveBackward2 = 4001 $ L-Stick Down
MoveLeft = 65 $ a # Strafe Left
MoveLeft2 = 4000 $ L-Stick Up
MoveRight = 68 $ d # Strafe Right
MoveRight2 = 4003 $ L-Stick Right
Jump = 32 $ Space
Jump2 = 2001 $ Pad-B
Sneak = 340 $ L-Shift # Sneak / Fly Down in Creative
Sneak2 = 
Sprint = 341 $ L-Ctrl # Sprint
Sprint2 = 

# --- Combat & Interaction
Attack = 1000 $ Clic-G # Attack / Mine
Attack2 = 
UseItem = 1001 $ Clic-D # Use Item / Place Block
UseItem2 = 
PickBlock = 1002 $ Clic-Milieu # Pick Block (Creative Mode)
PickBlock2 = 
Use = 69 $ e # Open Inventory / Interact
Use2 = 
DropItem = 81 $ q # Drop one item
DropItem2 = 

# --- Hotbar (Inventory Quick Access)
HotbarSlot1 = 49 $ 1
HotbarSlot12 = 
HotbarSlot2 = 50 $ 2
HotbarSlot22 = 
HotbarSlot3 = 51 $ 3
HotbarSlot32 = 
HotbarSlot4 = 52 $ 4
HotbarSlot42 = 
HotbarSlot5 = 53 $ 5
HotbarSlot52 = 
HotbarSlot6 = 54 $ 6
HotbarSlot62 = 
HotbarSlot7 = 55 $ 7
HotbarSlot72 = 
HotbarSlot8 = 56 $ 8
HotbarSlot82 = 
HotbarSlot9 = 57 $ 9
HotbarSlot92 = 
ScrollHotbar = 72 $ h # Scrolls through hotbar and chat
ScrollHotbar2 = 

# --- Chat & Multiplayer
OpenChat = 84 $ t
OpenChat2 = 
OpenCommand = 331 $ / # Opens chat with "/" prefix
OpenCommand2 = 
PlayerList = 258 $ Tab # Shows list of players (Multiplayer)
PlayerList2 = 
Advancements = 76 $ l # Opens Advancements screen
Advancements2 = 

# ------------------------------------
# ------- SOUND CONFIGURATION --------
# ------------------------------------
# Scale: 0.0 (Mute) to 1.0 (Max)
MasterVolume = 0.997300
MasterVolumeMute = false
MusicVolume = 0.346112
MusicVolumeMute = false
AmbientVolume = 0.589093
AmbientVolumeMute = false
UiVolume = 0.997300
UiVolumeMute = false
SfxVolume = 0.597192
SfxVolumeMute = false
VoiceVolume = 0.590713
VoiceVolumeMute = false

# ------------------------------------
# --------- LAST CONNECTION ----------
# ------------------------------------
LastServerName = Original Server
LastServerIP = 127.0.0.1
LastServerPort = 55555
LastServerPassword = Password

# ------------------------------------
# ---- GLOBAL MISC CONFIGURATION -----
# ------------------------------------
Ctrl + Q - Drop whole stack of items.
Double Tapping Space - Toggle fly mode in creative mode 

