
# ------------------------------------
# --- GLOBALE SERVER CONFIGURATION ---
# ------------------------------------
serverConfigured = true
serverName = Official Server
serverLang = de
serverIP = 127.0.0.1
serverPort = 55555
serverPassword = Password

# ------------------------------------
# --- GLOBALE PLAYER CONFIGURATION ---
# ------------------------------------
MAXplayers = 128

# ------------------------------------
# --- GLOBALE GALAXY CONFIGURATION ---
# ------------------------------------


# ------------------------------------
# --- GLOBALE WORLDS CONFIGURATION ---
# ------------------------------------

# ------------------------------------
# ---- GLOBALE MISC CONFIGURATION ----
# ------------------------------------
